.contact{
  margin-bottom: 250px;
  @media screen and (max-width: 768px) {
    margin-bottom: 190px;
  }
  p{
    text-align: center;
    font-size: 1vw;
    @media screen and (max-width: 768px) {
      font-size: 3vw;
    }
  }

  .title {
    font-family: 'Athelas';
    margin-top: 100px;

    p{
      text-align: center;
      font-size: 2.5vw;
      @media screen and (max-width: 768px) {
        font-size: 7vw;
      }
    }
  }

  .name{
    font-family: 'Athelas';
    font-size: 2vw;
    margin-top: 50px;
    @media screen and (max-width: 768px) {
      font-size: 6vw;
      margin-top: 8vh;
    }
  }

  .jap-message{
    font-family: 'ヒラギノ角ゴ ProN';
    margin-top: 3vw;
    font-size: 1.2vw;
    @media screen and (max-width: 768px) {
      font-size: 3vw;
      margin-top: 5vh;
    }
  }

  .en-message{
    font-family: 'Athelas';
    margin-bottom: 2vw;
    font-size: 1.3vw;
    @media screen and (max-width: 768px) {
      font-size: 2.8vw;
      margin-bottom: 3vh;
    }
  }

  a{
    text-decoration: none;
    color: black;
  }

  .address{
    border: solid 1px #6C6C6C;
    width: 40vw;
    padding: 10px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      width: 75vw;
      padding: 8px;
      margin: 0 auto;
    }

  }
}
