p{
  text-align: center;
}

#contact {
  font-family: 'Book Antiqua';
  font-size: 20px;
  margin-top: 500px;
}

.name{
  font-family: 'Athelas';
  font-size: 18px;
  margin-top: 50px;
}

.jap-message{
  font-family: 'ヒラギノ角ゴ ProN';
  margin-top: 25px;
}

.en-message{
  font-family: 'Book Antiqua';
  margin-bottom: 20px;
}

a{
  text-decoration: none;
  color: black;
  
}

.address{
  border: solid 1px #6C6C6C;
  width: 400px;
  margin: 0 auto;
}