.footer{
  position: relative;
  background-color: #FFFFFF;
  padding: 43px;
  @media screen and (max-width: 768px) {
    height: 100%;
    padding: 10px;
  }

  .name{
    font-family: 'Athelas';
    font-size: 1.5vw;
    margin: 0 0 20px 10vw;
    @media screen and (max-width: 768px) {
      font-size: 5vw;
      margin: 3vh 0 3vh 2vw;
    }
  }
  p{

    font-family: 'Athelas';
    font-size: 1.5vw;

  a{
    text-decoration: none;
    color: black;
    margin: 0 13vw;
    font-family: 'Athelas';
    @media screen and (max-width: 768px) {
      font-size: 3vw;
    }
  }
  }

  .account_img{
    position: absolute;
    top: 33%;
    right: 1%;
    background-color: #FFFFFF;

    @media screen and (max-width: 768px) {
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding: 15px 0;
    }

    .mail{
      width: 3vw;
      position: absolute;
      right: 12vw;
      top: 4px;
      margin-right: 2vw;
      @media screen and (max-width: 768px) {
        position: static;
        width: 7.5vw;
        margin: 0 12.5px;
      }
    }
    .insta{
      width: 3vw;
      position: absolute;
      right: 10vw;
      @media screen and (max-width: 768px) {
        position: static;
        width: 7.5vw;
        margin: 0 12.5px;
      }
    }

    // p{
    //   text-align: center;
    //   padding: 20px;
    //   font-family: 'Athelas';
    //   font-size: 1.5vw;

    // }
  }

  .copyright{
    text-align: center;
    font-family: 'Athelas';
    font-size: 1.5vw;
    @media screen and (max-width: 768px) {
      font-size: 3.5vw;
      margin-bottom: 1.5vh;
    }
  }


}


