@import 'common';



.works-boxes{
  width: 100%;
  height: auto;
 

.Works-title{
  font-family: 'Athelas';
  color: #2E2D2D;
  letter-spacing: 3.25px;
  font-size: 2vw;
  text-align: center;
  margin-bottom: 15vh;
}

.works-box{
  display: flex;
  width: 55%;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
  
li{
  list-style: none;
  
}

img{
  margin-bottom: 50px;
  width: 15vw;
  height: auto;
 }
}

@media screen and (max-width: 768px) {
 

  .works-boxes{
    width: 100%;
    height: auto;


  p.Works-title{
    font-family: 'Athelas';
    font-size: 4vw;
    text-align: center;
    margin-bottom: 10vh;
  }
  .works-box{
    width: 95%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
  }
    li{
      list-style: none;
     
    }
      
      img{ 
        width: 25vw;
        height: auto;
        margin-bottom: 40px;
      }
    }
  } 