

.Header-title{
  font-family: 'Athelas';
  font-size: 15px;
  margin: 17px 25px;
}

@media screen and (max-width: 768px) {
  .Header-title{
    font-family: 'Athelas';
    font-size: 23px;
    margin: 25px 24px;;
  }
}

