@import 'common';


.text{
  @include worksText();
  transform: rotate(-180deg);
  width: 100%;
  font-size: 1.5vw;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
}

.container {
  display: flex;
  width: $works-container-width;
  margin: 60vh auto 0;
  overflow: hidden;/*float解除*/
}
.container img{
  width: 30vw;
  float: left;/*画像の位置を右下にしたい場合はright*/
  margin: 0 0 0 1.2em;/*画像の周りの余白*/
}

.pageNo{
  @include worksPageNo();
  font-family: 'Athelas';
}

@media screen and (max-width: 768px) {
  .text{
    @include worksText();
    font-size: 2vw;

  }
  .container {
    display: flex;
    width: $works-container-width;
    height: 50vh;
    width: 100%;
    // overflow: hidden;/*float解除*/
    margin: 50vh 0 0 0;

  }
  .container img{
    width: 50vw;
    height: 45vh;
    float: left;/*画像の位置を右下にしたい場合はright*/
    
  }
  .initialChar{
    float: left;/*画像の位置を右下にしたい場合はright*/
    font-size: 40px;
    margin: 0.3em 0.5em 0 0.4em;
  }
  
  .pageNo{
    @include worksPageNo();
    font-family: 'Athelas';

  }
}
