

	img{
    width: 100%;
    margin-bottom: 500px;
  }



@media screen and (max-width: 750px) {
  img {
    width: 680px;
    object-fit : none;
    object-position : 22% 50%;
    margin-bottom: 1032px;
  }
}