
  .image-wrapper {
    width: 97%;
    margin: 58px auto 450px auto;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    img.topview-pc{
      width: 100%;
      @media screen and (max-width: 768px) {
          display: none;
      }
    }
    img.topview-sp{
      display: none;
      width: 100%;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  }