@font-face {
  font-family: 'Athelas';
  src: url('./assets/fonts/athelas-regular.woff') format('woff'),
       url('./assets/fonts/athelas-regular.ttf') format('truetype');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body{
 background-color:#F8F8FF;
}